* {
  box-sizing: border-box;
}

.bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 500px;
  width: 100%;
  background: #fafafa;
  border: solid 1px #575757;
  padding-top: 1%;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: calc(100% / var(--length) - calc(10% / var(--length) * 2));
  height: calc(100% / var(--max-value) * var(--value));
  margin: 0 calc(10% / var(--length));
  font-size: 1vw;
  background: #9c9c9c;
  color: #fafafa;
}

.bar.focus {
  background: #b9c6c3;
}

.bar.select {
  background: hsl(66, 61%, 75%);
}

.bar.swap {
  background: hsl(170, 85%, 45%);
}