.bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 500px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 2rem;
  height: calc(100% / var(--max-value) * var(--value));
  margin: 0 0.5rem;
  background: rgba(0, 0, 0, 0.205);
}