.bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 500px;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 2rem;
  height: calc(100% / var(--max-value) * var(--value));
  margin: 0 0.5rem;
  background: rgba(0, 0, 0, 0.4);
}

.bar.focus {
  background: rgba(119, 119, 119, 0.4);
}

.bar.swap {
  background: rgba(0, 218, 141, 0.4);
}